# Copiar este archivo a .env.local y completar los valores
# NUNCA commitear .env.local

DATABASE_URL=postgresql://neondb_owner:npg_ceqpGwx20kUl@ep-cool-fire-aq2tjhq9.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
RESEND_API_KEY=re_KHtrsc7i_6yYSpkTn1KLQZ4dXoGr1jamG
RESEND_FROM=PURSUE <pablobravo@acceso.irreductible.site>
LEAD_MAGNET_URL=https://res.cloudinary.com/dqofm4ulm/image/upload/v1779150324/ARCHIVOS_PURSUE_-_DECLASSIFIED_DOSSIER_wgfp2t.pdf
NEWSLETTER_API_KEY=59hhXKCm3tqACUaJWx1v0JHA2uDpLncdy5ReU2bh+50=
SITE_URL=https://irreductible.site
ADMIN_PASSWORD=
